@charset "utf-8";
/* CSS Document */

body{
  background: #D6D0F5;
}
h1{
  font-size: 350%;
  text-align: center;
  color: white;
  font-family: "cursive";
}
h2{
  font-size: 350%;
  text-align: center;
  color: white;
  font-family: "cursive"
}
body1{
  font-size: 200%;
}
p{
  font-size: 200%
}
