@charset "utf-8";
/* CSS Document */

body{
  background: #D6D0F5;
}
h1{
  font-size: 300%;
  text-align: center;
  color: white;
  font-family: "Lucida Handwriting";
}
h2{
  font-size: 300%;
  text-align: center;
  color: white;
  font-family: "Lucida Handwriting"
}
body1{
  font-size: 180%;
}
